Show
<%= @product.id %>
<% @product.name %>
<%= image_tag(@product.photo) %>
<%= @product.description %>


<br>
<br>
<br>
<div>
<%= link_to "retour aux catégories", products_path, class: 'btn button-essential'  %>
</div>
